* {
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-sizing: border-box;
    
}

h1 {
    color: black;
    margin: 5mm;
    font-family: 'Franklin Gothic Medium';
}

.hintergrundbild {
    background-image: url("./bilder/10.jpg");
    align-items: center;
}

.nav-link {
 font-size: 18px;   
 font-family: 'Franklin Gothic Medium';
 color: darkgray;
}
.nav-link :hover{
    font-weight: bold;
}
    
.active {
    color: black;
}